.payment-success{
    font-size: 19px;
    text-wrap: no-wrap;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.ok{
    animation: rotate 1s ease-in-out infinite;
    transform-style: preserve-3d;
}

@keyframes rotate{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg)
    }
    100%{
        transform: rotateY(360deg)
    }
}

.go-back-btn {
    position: absolute;
    top: 72%; /* below the text */
    left: 50%;
    transform: translateX(-50%);
}